.top{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.backy {
    width: 100vw;
    height: 80vh;
    /* background-color: #da3d3d; */
    background: url("frr.jpg") no-repeat center ;
    background-size: cover;
    /* #4e76a4 */
    display: flex;
    flex-direction: column;
}

nav>img{
    cursor: pointer;
    margin-left: 220px;
    height: 60px;
}

.backy>nav{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

nav>h5{
    cursor: pointer;
    margin-left: 920px;
    font-size: 20px;
    color:aliceblue; 
}

nav>h5:hover{
    border-bottom: 1px solid aliceblue;
}

.body{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: aliceblue;
}

.body>h3{
    margin-top: 50px;
    width: 50%;
}

.butn{
    font-size: 20px;
    margin-top: 20px;
    text-decoration: none;
    padding: 11px;
    color: #000000;
    border: 1px solid black;   
    border-radius: 100px;
    background-color: #648170;
}

.en-invite{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bac{
    background-color: #f6f6f6;
}

.cha{
    margin-left: 150px;
}

.invites {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invites>img{
    object-fit: contain;
    margin-right: 100px;
    height: 500px;
    width: 500px;
}

.side-invite{
    text-align: left;
    margin-left: 50px;
    width: 25%;
}

.side-invite>h1{
    font-size: 50px;
    font-weight: bold;
}

.logg{
    flex-direction: column;
}