@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.profile {
  overflow: hidden;
  height: 90vh;
  width: 100%;
  margin-left: 5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: italic;
  padding: 4em;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Anonymous Pro", monospace;
  background-color: rgb(25, 25, 25);
}

.line-1 {
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  height: 6vh;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  color: aqua;
}

.typer {
  animation: typewriter 1s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

.elements{
  height: 80vh;
  border: 2px solid white;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.invitation{
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.invitation>h3{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  width: 40%;
  height: 40px;
  text-align: center;
  cursor: pointer;
  overflow-x: auto;
}

.data {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dp {
  margin-left: 5rem;
  display: flex;
  justify-content: center;
  padding: 5px;
  align-items: center;
}

.dn{
  margin-left: 5rem;
  display: flex;
  justify-content: center;
  padding: 5px;
  align-items: center;
}
.dp > h4 {
  font-size: 20px;
}

.dp-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.change {
  font-size: 10px;
  padding: 4px;
  cursor: pointer;
}
.change:hover{
  border-bottom: 1px solid white;
}

.inpt {
  margin-left: 30px;
  background-color: rgb(25, 25, 25);
  width: 70%;
  color: aliceblue;
  margin-right: 5px;
  border: none;
  outline-width: 0;
  font-size: 30px;
  text-align: center;
  font-style: italic;
  font-family: "Anonymous Pro", monospace;
  text-decoration: none;
}

.inpt:hover{
  border-bottom: 1px solid white;
}

.hov{
  font-size: 15px;
  border-bottom: 1px solid white;
}

.dn-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.save{
  text-align: center;
  width: 70%;
  margin-left: 30px;
  font-size: 10px;
  padding-top: 5px;
}

.nosave{
  display: none;
}

.but{
  display: none;
}

label input{
  height: 0;
  width: 0;
  opacity: 0;
}

label{
  display: block;
  width: 116px;
  height: 20px;
  margin:5px;
  color: #9b9bb7;
  font-weight: bold;
}

label>span{
  cursor: pointer;
  font-size: 10px;
}
label>span:hover{
  border-bottom: 1px solid wheat;
}

.progress-bar{
  height: 5px;
  background: #9b9bb7;
  margin-top: 20px;
}

.output{
  height: 60px;
  font-size: 0.8rem;
}

@keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 16em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@media only screen and (max-width: 769px) {
  .profile{
    margin-left: 0;
    height: 94.5vh;
  }
  .dp{
    margin-left: 0;
  }
  .dn{
    margin-left: 0;
  }
  .change{
    font-size: 8px;
    padding: 1px;
  }
  .inpt{
    font-size: 20px;
  }
  .invitation>h4{
    font-size: 10px;
  }
  .line-1{
    font-size: 23px;
  }
}

@media only screen and (max-width: 489px) {
  .line-1{
    font-size: 15px;
  }
}
@media only screen and (max-width: 369px) {
  .line-1{
    font-size: 13px;
  }
}

@media only screen and (max-width: 1286px){
  .dp>h4,.dn>h4{
    display: none;
  }
}